.img {
  width: 222px;
  height: 222px;
  margin: 0 auto;
}

.button {
  text-transform: uppercase;
  margin-left: 0;
  margin-right: 0;
}

.content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}