.container {
  --background: #fff;
}

.wrapper {
  max-width: 80vw;
  margin: 40px auto 0 auto;
}

.chart, .batteryChart {
  width: 100%;
  margin-top: 20px;
}

.chart {
  height: 400px;
}

.batteryChart {
  height: 200px;
}

.sumChart {
  width: 100%;
  height: 300px;
  margin-bottom: 100px;
}

.alarmPage {
  --width: 100vw !important;
  --height: 100vh !important;
  position: fixed;
  z-index: 10;
  transition: opacity 0.3s ease;
}

.alarmPage.active {
  opacity: 1;
}

.alarmPage.hidden {
  opacity: 0;
}

@media only screen and (max-width: 850px) {
  .chart {
    height: 450px;
  }
  .wrapper {
    max-width: 100vw;
  }
}