.container {
  --background: #fff;
}

.wrapper {
  max-width: 80vw;
  margin: 40px auto 0 auto;
}

.chart, .additionalChart {
  width: 100%;
  margin-top: 20px;
}

.chart {
  height: 400px;
}

.additionalChart {
  height: 300px;
}

.sumChart {
  width: 100%;
  height: 300px;
  margin-bottom: 100px;
}

.alarmPage {
  --width: 100vw !important;
  --height: 100vh !important;
  position: fixed;
  z-index: 10;
  transition: opacity 0.3s ease;
}

.alarmPage.active {
  opacity: 1;
}

.alarmPage.hidden {
  opacity: 0;
}

.buttons {
  text-align: center;
}

.tabularButton {
  display: block;
  width: 158px;
  margin-left: auto;
  margin-right: auto;
}

.tabularDataSpinner {
  display: block;
  width: 50px;
  height: 50px;
  margin: 10px auto 0 auto;
}

.mainTabularDataTable {
  margin: 15px auto 0 auto;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 12px;
}

.mainTabularDataTableTh, .mainTabularDataTableTd {
  border: 1px solid black;
  text-align: center;
  padding: 4px;
}

.mainTabularDataTableTh {
  font-weight: 400;
}

.mainTabularDataTableThead {
  color: white;
}

.mainTabularDataTableThLarge {
  width: 138px;
  color: #000;
}

.mainWxetTabularDataTableTh {
  color: #000;
}

.mainTempWxetTabularDataTableTd {
  border: 1px solid #000;
  text-align: center;
}

.additionalButtons {
  display: flex;
  justify-content: center;
}

.tabularDataWrapper {
  display: block;
}

.autowaterModalWrapper {
  --padding-top: 25px;
  text-align: center;
}

.autowaterLoading {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.autowaterModalText {
  display: block;
}

.autowaterModalTextOne {
  margin-top: 15px;
  margin-bottom: 10px;
}

.autowaterModalAverage {
  width: 259px;
  border: 2px solid #91b2e9;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  margin: 10px auto;
}

.autowaterModalAverageText > span {
  background: #90ee90;
  border: 1px solid #018d01;
  border-radius: 2px;
  padding: 5px;
  font-weight: 700;
}

.autowaterModalAverageText.critical > span {
  background: #cd5c5c;
  border: 1px solid #8b0000;
}

.autowaterModalFalling {
  background: #f7f7f7;
  border: 1px solid #c9c9c9;
  padding: 5px;
  border-radius: 3px;
  margin: 10px auto 0 auto;
  width: 344px;
  font-size: 17px;
}

.autowaterModalFallingOne {
  font-weight: 700;
  color: #228b22;
}

.autowaterModalFallingTwo {
  font-weight: 700;
  color: #136461;
}

.autowaterModalNoIrrigation {
  display: block;
  margin-top: 10px;
}

.autowaterModalIrrigationNeeded {
  background: #91b2e9;
  padding: 20px;
  border: 1px solid #475772;
  max-width: 334px;
  margin: 10px auto 0 auto;
  border-radius: 5px;
}

.autowaterModalButtons {
  margin-top: 10px;
}

.autowaterButton {
  height: 36px;
}

.autowaterModalTextSpan {
  font-weight: 700;
}

@media only screen and (max-width: 850px) {
  .chartLinesSix {
    height: 480px;
  }

  .chartLinesNine {
    height: 580px;
  }

  .chartLinesMoreThanNine {
    height: 670px;
  }

  .wrapper {
    max-width: 100vw;
  }
}

@media (max-width: 750px) {
  .additionalButtons {
    flex-wrap: wrap;
  }

  .mainTempWxetTabularDataTable,
  .mainTempWxetTabularDataTable tbody,
  .mainTempWxetTabularDataTable tr,
  .mainTempWxetTabularDataTable td {
    display: block;
    width: 100%;
  }

  .mainTempWxetTabularDataTable thead {
    display: none;
  }

  .mainTempWxetTabularDataTableTr {
    margin-bottom: 10px;
    border: 1px solid #000;
  }

  .mainTempWxetTabularDataTableTd {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    position: relative;
    text-align: right;
    color: #fff;
  }

  .wxetBlackText {
    color: #000;
  }

  .mainTempWxetTabularDataTableTdBlack {
    color: #000;
  }

  .mainTempWxetTabularDataTableTd::before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
  }
}

@media (max-width: 425px) {
  .mainMoistSoilTempTabularDataTable,
  .mainMoistSoilTempTabularDataTable tbody,
  .mainMoistSoilTempTabularDataTable tr,
  .mainMoistSoilTempTabularDataTable td {
    display: block;
    width: 100%;
  }

  .mainMoistSoilTempTabularDataTable thead {
    display: none;
  }

  .mainMoistSoilTempTabularDataTableTr {
    margin-bottom: 10px;
    border: 1px solid #ddd;
  }

  .mainMoistSoilTempTabularDataTableTd {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    position: relative;
    text-align: right;
    color: #fff;
  }

  .mainMoistSoilTempTabularDataTableTd::before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
  }
}
