.ionContent {
  --background: none;
}

.modalTitle {
  display: inline;
}

.modalButton {
  margin: 10px 0 0 0;
}

.invalidChartDataImg {
  width: 70px;
  margin: 0 auto 10px auto;
}

.chart {
  width: 100%;
  height: 130px;
}

.chartContainer {
  border: 1px solid #000;
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100px;
}

.invalidChartDataImgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  background: #96fd66;
  border: 1px solid #000;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.invalidSensorIdText {
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}