/*  Header  */
.header_backIcon {
  cursor: pointer;
}

.header_valveButtonIcon {
  margin-right: 6px;
}

/*  Top Section  */
.topSection_mainContainer {
  max-width: 80vw;
  margin: 0 auto;
}

.topSection_wrapper {
  display: flex;
  align-items: center;
}

.topSection_configurations {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.topSection_nwsForecast {
  display: flex;
  align-items: center;
}

.topSection_tempWxetInput {
  margin-left: 10px;
  width: 100px;
}

.topSection_tempWxetToggle {
  border-right: 1px solid #d2d2d2;
  padding-right: 10px;
}

.topSection_tempWxetToggleLeft {
  margin-left: 10px;
}

.topSection_moistTopSectionItem {
  --padding-start: 0;
  width: 500px;
}

.topSection_chartsButtonsContainer {
  display: flex;
  margin-top: 5px;
}

/*  Datetime Picker  */
.datetimePicker_wrapper {
  display: flex;
  align-items: center;
}

.datetimePicker_container {
  display: flex;
  align-items: center;
}

.datetimePicker_item {
  margin-left: 10px;
}

.datetimePicker_container:nth-child(2) {
  margin-left: 10px;
  margin-right: 20px;
}

.datetimePicker_wrapperContainer {
  display: flex;
  align-items: center;
}

.datetimePicker_title {
  color: #000;
}

.datetimePicker_modal {
  background: rgba(0, 0, 0, 0.2);
}

/*  Alarm  */
.alarm_container {
  width: 450px;
  margin: 0 auto;
}

.alarm_textTitle {
  display: block;
  text-align: center;
  margin-top: 50px;
  color: #858585;
}

.alarm_itemContainer {
  width: 100%;
  margin: 0 auto 0 auto;
  --padding-start: 0;
}

.alarm_item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.alarm_setContainer {
  display: flex;
  align-items: center;
}

.alarm_itemContent {
  margin-right: 15px;
  color: #858585;
}

.alarm_itemContent.active {
  color: #000;
}

.alarm_actionInput {
  padding-top: 0 !important;
}

/*  Add Comment  */
.addComment_messageContainer {
  --padding-start: 0;
}

.addComment_message {
  width: 100%;
  text-align: center;
}

.addComment_textarea {
  width: 100%;
  height: 50%;
  border: none;
  outline: none;
  padding: 10px;
  flex-grow: 1;
}

.addComment_select {
  margin-left: 5px;
}

/*  Export  */
.export_select {
  width: 150px;
}

.export_modalContent {
  --background: var(--ion-background-color);
}

.export_modalHeader {
  flex-shrink: 0;
}

.export_modalBody {
  flex-grow: 1;
  overflow-y: auto;
}

.export_item {
  --padding-start: 0;
  --inner-padding-end: 0;
}

.export_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.export_reportDuration {
  padding-top: 0;
  padding-bottom: 0;
}

/*  Mixed  */
.mixed_modalFooter {
  flex-shrink: 0;
}

.mixed_footer {
  position: static;
}

.mixed_bottomButtons {
  display: flex;
  justify-content: flex-end;
}

.mixed_modalWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media only screen and (max-width: 850px) {
  .topSection_mainContainer {
    max-width: 95vw;
  }
}

@media only screen and (max-width: 640px) {
  .topSection_mainContainer {
    display: block;
  }

  .topSection_tempWxetToggle {
    margin-left: 0;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 515px) {
  .topSection_moistTopSectionItem {
    width: 300px;
  }
  .topSection_wrapper {
    display: block;
  }
}

@media only screen and (max-width: 475px) {
  .alarm_Container {
    width: 290px;
  }
  .datetimePicker_wrapperContainer {
    display: block;
  }
  .datetimePicker_container:nth-child(2) {
    margin-top: 10px;
    margin-left: 0;
    margin-bottom: 10px;
  }
  .moistTopSectionContainer {
    display: block;
  }
}