/*  Main  */
.ionContent {
  --background: none;
}

.map {
  height: 100%;
  width: 100%;
}

/*  Header  */
.header_backIcon {
  cursor: pointer;
}

/*  Modal Window  */
.modal_button {
  margin: 10px 0 0 0;
}

/*  Custom Overlays  */
.overlay_info {
  width: 68px;
  display: none;
  margin-top: 5px;
  margin-left: -5px;
  background: #f1e279;
  color: #000;
  border-radius: 5px;
  font-size: 10px;
  padding: 4px;
  position: relative;
  z-index: 1;
}

.overlay_container {
  cursor: pointer;
  width: 58px;
}

.overlay_container:hover .overlay_info,
.overlay_wxetOverlay:hover .overlay_info {
  display: block;
}

.overlay_chartContainer {
  background: #96fd66;
  border: 1px solid #000;
  border-radius: 6px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 5px;
  height: 75px;
}

.overlay_chart {
  width: 45px;
  height: 50px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-items: center;
  z-index: 2;
  border: 1px solid #000;
}

.overlay_chart__valve {
  border: none;
  background: #96fd66;
}

.overlay_chartWrapper {
  width: 100%;
  height: 53px;
  border: 1px solid #000;
  border-radius: 3px;
  margin-bottom: 1px;
}

.overlay_invalidChartDataImg {
  display: block;
  width: 45px;
  margin: 0 auto 3px auto;
}

.overlay_invalidOverlayContainer {
  cursor: not-allowed;
}

.overlay_invalidMoistChartDataImgContainer {
  background: #96fd66;
  border-radius: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #000;
}

.overlay_loader {
  width: 35px;
  margin: 0 auto;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 4px solid #000000;
  animation:
          l20-1 0.8s infinite linear alternate,
          l20-2 1.6s infinite linear;
}

.overlay_valveEnabled {
  width: 5px;
  height: 5px;
  border: 1px solid #000;
  background: #000;
  margin: -6px 3px 5px auto;
}

.overlay_valveEnabled__enabled {
  background: #fff;
}

@keyframes l20-1{
  0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
  12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
  25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
  50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
  62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
  75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
  100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
}
@keyframes l20-2{
  0%    {transform:scaleY(1)  rotate(0deg)}
  49.99%{transform:scaleY(1)  rotate(135deg)}
  50%   {transform:scaleY(-1) rotate(0deg)}
  100%  {transform:scaleY(-1) rotate(-135deg)}
}

.overlay_underInformationOverlayText {
  background: #96fd66;
  font-size: 11px;
  text-align: center;
  color: #00ade3;
  font-weight: 500;
  margin-top: 3px;
}

.overlay_wxetOverlayContainer {
  background: #96fd66;
  border: 1px solid #000;
  border-radius: 6px;
  width: 130px;
  height: 131px;
  padding: 4px 4px 0 4px;
  cursor: pointer;
}

.overlay_wxetOverlayInnerContainer {
  border: 1px solid #000;
  width: 100%;
  height: 110px;
  border-radius: 2px;
  padding: 5px;
  position: relative;
}

.overlay_wxetOverlayImage {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 8px;
  right: 0;
}

.overlay_wxetNotValidData {
  width: 60px;
  height: 85px;
  background: #000;
  border-radius: 6px;
  padding: 5px;
}

.overlay_wxetNotValidDataRectangle {
  width: 50px;
  height: 50px;
  background: #9b9b9b;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}

.overlay_wxetNotValidDataRectangleText {
  text-transform: uppercase;
}

.overlay_wxetNotValidName {
  background: none;
  color: #9b9b9b;
  margin-top: 10px;
}

.overlay_validWxetOverlayInfo {
  width: 140px;
}

.overlay_text {
  text-align: center;
}

/*  Layer List  */

.layers_checkbox {
  width: 160px;
  position: absolute;
  top: 100px;
  left: 10px;
  opacity: 0.85;
  background: #fff;
}

.layers_checkbox > ion-item {
  border-radius: 3px;
}