.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #5B5B5B;
  z-index: 1;
}

.logoContainer {
  width: 200px;
  height: 200px;
}

.hidden {
  opacity: 0;
  transition: 0.8s;
}

.done {
  display: none;
}