body.scanner-active {
  background: transparent !important;
  --background: transparent !important;
}

ion-app.scanner-active {
  background: transparent !important;
  --background: transparent !important;
}

ion-content.scanner-active {
  --background: transparent !important;
}

.qr-scanner-modal {
  --background: transparent;
}

.scanner-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 80%;
  max-width: 300px;
}
