.chart {
  width: 100%;
  height: 300px;
  margin: 20px auto 0 auto;
}

.wrapper {
  max-width: 80vw;
  margin: 40px auto 0 auto;
}

.additionalButtons {
  display: flex;
  justify-content: center;
}

@media (max-width: 950px) {
  .wrapper {
    max-width: 100vw;
  }
  .chart {
    margin: 20px 0 0 20px;
  }
}

@media only screen and (max-width: 850px) {
  .chart {
    width: 90%;
    height: 570px !important;
  }
}

@media (max-width: 640px) {
  .wrapper {
    margin-top: 20px;
  }
}