body {
  background: #fff;
}

.gm-ui-hover-effect {
  display: none !important;
}

p, h1, h2, h3, h4, h5, h6, div, img, a, button {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.infoWindowText {
  color: #000;
}

/* Sensor ID Validation Alert Styles */
.sensor-id-validation-alert .alert-button {
  color: #04a65b !important;
  font-weight: 500;
  text-transform: uppercase;
}

.sensor-id-validation-alert .alert-button-confirm {
  color: #04a65b !important;
}

.sensor-id-validation-alert .alert-button-cancel {
  color: #04a65b !important;
}

/* Sensor ID Duplicate Alert Styles */
.sensor-id-duplicate-alert .alert-button {
  color: #04a65b !important;
  font-weight: 500;
}

.sensor-id-duplicate-alert .alert-button-confirm {
  color: #04a65b !important;
}

.sensor-id-duplicate-alert .alert-button-cancel {
  color: #04a65b !important;
}

/* Remove padding from alert messages */
.alert-message {
  padding-top: 0 !important;
  padding-bottom: 8px !important;
}

/* Remove top and bottom padding from alert inputs */
.alert-input-group {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}