.content {
  --background: #f5f5f5;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px);
  padding: 20px;
}

.menuBlock {
  --background: #04a65b;
  --background-hover: #049250;
  --background-activated: #049250;
  --color: white;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 8px;
  width: 200px;
  height: 96px;
  margin: 0 ;
}

.menuRow {
  display: flex;
  align-items: center;
  gap: 8px;
}

.menuGrid {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (max-width: 550px) {
  .menuBlock {
    width: 130px;
    height: 62px;
    font-size: 15px;
  }
}
.menuBlockWide {
  width: 100%;
}